@import "../common";

.navigation {
  border-bottom: 1px solid #ddd;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title, .greeting {
    display: block;
    flex: 1;
    margin: 10px 0;
  }

  .title {
    font-weight: @header-font-weight;
  }

  .greeting {
    text-align: right;
  }
}
